*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* main {
  min-height: 100vh;
  background-color: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */

input:focus {
  outline: none;
}

#search {
  grid-column-start: 1;
  grid-row-start: 1;
}
#search-field {
  font-family: Helvetica, sans-serif;
  font-size: 10vw;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0);
}

#copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  z-index: 1;
}

a {
  text-decoration: none;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-size: 0.6rem;
}
